# ignore files created by PyCharm
.idea/
## ignore things made by pytest
.cache/*
__pycache__/
.coverage
## ignore logging file
holter_monitor_log.txt
## ignore binary files created by reading lvms
data/*.pkl
## ignore HTML files created by scripts
*.html

## ignore super long data file made by script
data/longdata.lvm

## ignore all tdms files
*.tdms