# ignore files created by PyCharm
.idea/
## ignore things made by pytest
.cache/*
__pycache__/
.coverage
## ignore logging file
holter_monitor_log.txt
## ignore binary files created by reading lvms
data/*.pkl